* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

body {
  min-height: 200vh;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #c19865;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

.section-heading {
  max-width: 500px;
  margin: 0 auto;
  line-height: 21px;
  letter-spacing: 4px;
  font-family: "Playfair Display";
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #202628;
}

.section-heading span {
  display: block;
  margin: 36px auto;
  max-width: 500px;
  height: 1px;
  background-color: #d5d5d5;
}

.section-heading span::before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 100px;
  background-color: #c19865;
}

.hamburger {
  display: none;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 3;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

@media (max-width: 767px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  color: white;
}

.contact-nav {
  background-color: rgba(14, 17, 17, 0.5);
}

.contact-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 55px;
}

.container__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__left .left__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 45px;
}

.container__left .left__contact i {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .container__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
}

.socials a {
  margin-left: 20px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.main-nav img {
  height: 45px;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation ul li a {
  margin-left: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Playfair Display";
}

.navigation ul li a:hover {
  padding-bottom: 22px;
  border-bottom: 4px solid #bf9f5e;
  color: #bf9f5e;
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  position: fixed;
  background-color: #323333;
  width: 100%;
  margin: 0;
  top: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sticky .navigation a:first-child, .sticky .navigation a:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid #bf9f5e;
  color: #bf9f5e;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-height: 850px;
  background-image: url("./../../img/desktop/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (max-width: 992px) and (orientation: landscape) {
  header {
    height: 150vh;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  header {
    height: 200vh;
  }
}

.welcome {
  margin: auto auto;
  color: white;
}

@media (max-width: 992px) {
  .welcome {
    width: 100%;
    text-align: center;
  }
}

.welcome-subheading {
  font-size: 25px;
  font-size: 1.4vw;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .welcome-subheading {
    font-size: 2vw;
  }
}

@media (max-width: 992px) {
  .welcome-subheading {
    font-size: 3vw;
  }
}

@media (max-width: 767px) {
  .welcome-subheading {
    font-size: 5vw;
  }
}

.welcome-heading {
  max-width: 60%;
  margin: 10px 0 40px 0;
  font-size: 3vw;
  letter-spacing: 4px;
  line-height: 3.5vw;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1440px) {
  .welcome-heading {
    line-height: 4.5vw;
    font-size: 4vw;
  }
}

@media (max-width: 992px) {
  .welcome-heading {
    max-width: 80%;
    margin: 20px auto 80px auto;
    letter-spacing: 2px;
    font-size: 6vw;
    line-height: 6vw;
  }
}

@media (max-width: 767px) {
  .welcome-heading {
    max-width: 100%;
    font-size: 8vw;
    line-height: 8vw;
  }
}

.request-button {
  padding: 15px 20px;
  border: 3px solid #bf9f5e;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  color: #bf9f5e;
}

.request-button:hover {
  background-color: #bf9f5e;
  color: white;
  cursor: pointer;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 992px) and (orientation: landscape) {
  .info {
    margin-bottom: 70px;
    padding: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .info {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 70px;
    padding: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.info__container {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  min-height: 230px;
  padding: 35px;
  text-align: center;
  background-color: #c1a787;
}

.info__container i {
  font-size: 50px;
}

.info__container:nth-child(2) {
  background-color: #c09c6f;
}

.info__container:nth-child(3) {
  background-color: #c2935a;
}

@media (max-width: 1200px) {
  .info__container {
    padding: 25px 10px;
  }
}

.info-heading {
  font-size: 22px;
  margin: 25px 0 15px 0;
}

@media (max-width: 992px) {
  .info-heading {
    font-size: 1.3rem;
  }
}

#about {
  margin-bottom: 100px;
}

#about img {
  -webkit-box-shadow: -10px -10px 0px 0px #ffffff, -10px -10px 0px 1px #bf9f5e;
          box-shadow: -10px -10px 0px 0px #ffffff, -10px -10px 0px 1px #bf9f5e;
}

@media (max-width: 767px) {
  #about img {
    margin: 0 auto;
    max-width: 90%;
  }
}

@media (max-width: 767px) {
  #about {
    margin-bottom: 50px;
  }
}

.about-container {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.about__info {
  margin-left: 60px;
  max-width: 500px;
  font-size: 20px;
  letter-spacing: 1px;
  color: #414c50;
  font-weight: 700;
  font-family: "Montserrat";
}

.about__info p {
  margin-top: 40px;
  height: 164px;
  font-size: 15px;
  line-height: 24px;
  color: #67767b;
  font-weight: 400;
  font-family: "Montserrat";
}

@media (max-width: 767px) {
  .about__info {
    text-align: center;
    margin: 25px auto 0 auto;
  }
}

#why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why-us__left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-height: 500px;
  background-image: url("./../../img/desktop/chess.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.why-us__left h3 {
  color: #bf9f5e;
}

.why-us__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #fbf9f5;
}

.left__container {
  padding: 5% 5% 0 50%;
}

.right__container {
  padding: 5% 33% 5% 50px;
}

#specializations {
  margin: 100px auto;
}

.specializations__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.specialization__container {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.motto {
  margin: 100px 0;
  padding: 70px 0;
  background-color: #f4f0e5;
  line-height: 3rem;
  text-align: center;
  font-size: 1.3rem;
  color: #000;
}

.motto .sentence {
  position: relative;
  font-family: "Playfair Display", serif;
}

.motto .sentence::before {
  content: open-quote;
  position: absolute;
  left: 2%;
  top: 4%;
  font-size: 7rem;
  color: #dfd6bc;
}

.motto .sentence::after {
  content: close-quote;
  position: absolute;
  right: 2%;
  font-size: 7rem;
  color: #dfd6bc;
}

.motto h3 {
  text-align: right;
  line-height: 3.5rem;
}

#contact {
  margin: 100px auto;
}

.contact__input {
  width: 33%;
  padding: 10px;
  border: 1px solid #e6ebec;
}

.contact__input:focus {
  outline: 1px solid #bf9f5e;
}

.textarea {
  margin: 10px auto;
  width: 100%;
  min-height: 200px;
  border: 1px solid #e6ebec;
}

.textarea:focus {
  outline: 1px solid #bf9f5e;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e6ebec;
  cursor: pointer;
}

.submit:hover {
  background-color: #bf9f5e;
  color: white;
}

footer {
  background-color: #323333;
  font-size: 15px;
  line-height: 24px;
  color: #b1bec0;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.top-footer {
  border-bottom: 1px solid #4e4e4e;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  position: relative;
}

.footer-contact img {
  height: 45px;
}

.footer-contact i {
  margin-right: 10px;
  color: #bf9f5e;
}

.footer__container {
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.footer__container img {
  width: 40%;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  color: #b1bec0;
}

.copyright i:hover {
  cursor: pointer;
  color: #bf9f5e;
}
/*# sourceMappingURL=main.css.map */