* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 15px;
  color: #67767b;
}

body {
  min-height: 200vh;
}

a {
  text-decoration: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  color: #bf9f5e;
}

li {
  list-style: none;
}

.welcome-subheading {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.welcome-subheading:first-child {
  font-size: 1.2rem;
}

@media (max-width: 512px) {
  .welcome-subheading {
    font-size: 1.5rem;
  }
}

.welcome-heading {
  font-size: 5rem;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .welcome-heading {
    letter-spacing: 2px;
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .welcome-heading {
    font-size: 3rem;
  }
}

.section-heading {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 500px;
  text-align: center;
  line-height: 21px;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Playfair Display";
  text-transform: uppercase;
  color: #202628;
}

.section-heading span {
  display: block;
  margin-top: 36px;
  height: 1px;
  background-color: #d5d5d5;
}

.section-heading span::before {
  content: "";
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 100px;
  background-color: #c19865;
}

.small-heading {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media (max-width: 1440px) {
  .small-heading {
    text-align: center;
  }
}

.big-heading {
  margin-bottom: 20px;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .big-heading {
    text-align: center;
  }
}

.paragraph {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 1px;
}

.paragraph--source {
  font-size: 0.8rem;
}

@media (max-width: 767px) {
  .paragraph {
    text-align: center;
  }
}

.why-us-heading {
  margin-bottom: 20px;
  font-family: "Playfair Display", serif, serif;
  font-size: 2rem;
  text-align: left;
  color: #bf9f5e;
}

@media (max-width: 1440px) {
  .why-us-heading {
    text-align: center;
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  z-index: 3;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active {
  -ms-touch-action: none;
      touch-action: none;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

@media (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */
.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  color: white;
}

.nav-top {
  min-height: 55px;
  background-color: rgba(14, 17, 17, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .top__contact-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 45px 5px 0;
}

.contact-details i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: #bf9f5e;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.navigation img {
  height: 80px;
}

@media (max-width: 512px) {
  .navigation img {
    height: 60px;
  }
}

@media (max-width: 992px) {
  .navigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 992px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: -100%;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #323333;
  }
}

.menu.is-active {
  left: 0;
  -ms-touch-action: none;
      touch-action: none;
}

.menu-element a {
  margin-left: 50px;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.menu-element a:hover {
  padding-bottom: 22px;
  border-bottom: 4px solid #bf9f5e;
  color: #bf9f5e;
  cursor: pointer;
}

@media (max-width: 767px) {
  .menu-element a {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .menu-element {
    margin: 20px auto;
    font-size: 2rem;
  }
}

.sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  width: 100vw;
  padding: 10px 0;
  margin: 0;
  left: 0;
  top: 0;
  background-color: #323333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.sticky img {
  height: 60px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../img/desktop/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

@media (max-width: 1200px) {
  header {
    background-image: url("../img/mobile/header-m.jpg");
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  header {
    height: 150vh;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  header {
    height: 200vh;
  }
}

.welcome {
  margin: auto;
  color: white;
}

@media (max-width: 992px) {
  .welcome {
    width: 100%;
    text-align: center;
  }
}

.request-button {
  border: 3px solid #bf9f5e;
  background: transparent;
  text-transform: uppercase;
  color: #bf9f5e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 15px 20px;
}

.request-button:hover {
  background-color: #bf9f5e;
  color: white;
  cursor: pointer;
}

#about {
  margin-bottom: 100px;
  overflow: hidden;
}

#about img {
  -webkit-box-shadow: -10px -10px 0px 0px #ffffff, -10px -10px 0px 1px #bf9f5e;
          box-shadow: -10px -10px 0px 0px #ffffff, -10px -10px 0px 1px #bf9f5e;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0 auto;
}

.about__info {
  margin-left: 60px;
  text-align: justify;
}

.about__info .paragraph {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .about__info {
    margin: 0 auto;
  }
}

#why-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
}

@media (max-width: 1440px) {
  #why-us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.why-us__left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding: 20px 20px 20px 29%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/desktop/chess.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/desktop/chess.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.why-us__left .left__container {
  margin-bottom: 25px;
}

@media (max-width: 1440px) {
  .why-us__left {
    background-attachment: fixed;
    padding: 2% 2% 2% 49%;
  }
}

@media (max-width: 767px) {
  .why-us__left {
    padding: 20px;
    background-position: right;
    text-align: center;
  }
}

.why-us__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background-color: #fff8e7;
}

@media (max-width: 1440px) {
  .why-us__right {
    padding-bottom: 0;
  }
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1440px) {
  .advantages__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 992px) {
  .advantages__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.advantage i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  min-width: 70px;
  min-height: 70px;
  padding: 10px;
  border: 2px solid #bf9f5e;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #bf9f5e;
}

.advantage i::before {
  margin: auto;
}

@media (max-width: 1440px) {
  .advantage i {
    margin: 10px;
  }
}

@media (max-width: 1440px) {
  .advantage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .advantage {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .advantage:last-child {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .advantage {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.specializations__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .specializations__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.specialization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.specialization li {
  text-indent: -10px;
}

.specialization:hover {
  background-color: #bf9f5e;
  color: white;
}

.specialization:hover i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

@media (max-width: 992px) {
  .specialization {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 767px) {
  .specialization {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.specialization__heading {
  text-align: center;
}

.specialization__heading i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  min-width: 70px;
  min-height: 70px;
  padding: 10px;
  border: 2px solid #bf9f5e;
  border-radius: 50%;
  font-size: 2.5rem;
  color: #bf9f5e;
  margin: 0;
  border: none;
}

.specialization__heading i::before {
  margin: auto;
}

@media (max-width: 1440px) {
  .specialization__heading i {
    margin: 10px;
  }
}

@media (max-width: 1440px) {
  .specialization__heading i {
    margin: 0;
  }
}

.specialization__heading .small-heading {
  margin-bottom: 10px;
  min-height: 60px;
}

@media (max-width: 767px) {
  .specialization__heading .small-heading {
    min-height: 0;
  }
}

.motto {
  margin-top: 50px;
  padding: 4rem 0;
  background-color: #f1efe5;
  text-align: center;
  line-height: 4rem;
}

.sentence {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

@media (max-width: 1200px) {
  .sentence {
    padding: 0 60px;
  }
}

@media (max-width: 992px) {
  .sentence {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .sentence {
    padding: 0 20px;
  }
}

.quote {
  font-size: 4rem;
  font-family: serif;
  color: #bf9f5e;
}

.author {
  text-align: right;
  font-size: 1.4rem;
}

#contact {
  margin-bottom: 100px;
  text-align: justify;
}

.contact__info {
  margin: 50px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .contact__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-details--big {
  font-size: 1.9rem;
}

.contact-details--big a {
  color: #67767b;
}

@media (max-width: 992px) {
  .contact-details--big {
    font-size: 1.3rem;
  }
}

@media (max-width: 767px) {
  .contact-details--big {
    margin: 20px auto;
    font-size: 1.7rem;
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.clause {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.clause p {
  margin: 20px 0;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .clause {
    text-align: center;
  }
}

.form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .form__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.input {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.text-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bf9f5e;
}

.text-input:focus {
  outline: 1px solid #bf9f5e;
}

.text-input::-webkit-input-placeholder {
  color: #bf9f5e;
}

.text-input:-ms-input-placeholder {
  color: #bf9f5e;
}

.text-input::-ms-input-placeholder {
  color: #bf9f5e;
}

.text-input::placeholder {
  color: #bf9f5e;
}

@media (max-width: 767px) {
  .text-input {
    text-align: center;
  }
}

.text-message {
  min-height: 200px;
}

@media (max-width: 767px) {
  .text-message {
    text-align: center;
  }
}

.submit-button {
  border: 3px solid #bf9f5e;
  background: transparent;
  text-transform: uppercase;
  color: #bf9f5e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 15px;
}

.submit-button:hover {
  background-color: #bf9f5e;
  color: white;
  cursor: pointer;
}

.error-message {
  font-size: 0.8rem;
  color: #bf9f5e;
}

.form__response {
  display: none;
  text-align: center;
  margin: 20px;
}

.error-active,
.response-active {
  display: block;
}

.input-error {
  border: 1px solid #bf9f5e;
}

footer {
  background-color: #323333;
  color: #b1bec0;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
  border-bottom: 1px solid #4e4e4e;
}

.top__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 512px) {
  .top__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
}

.top__container * {
  margin: 5px 0;
}

.top__container:first-child {
  max-width: 550px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top__container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 100px;
}

@media (max-width: 767px) {
  .top__container img {
    height: 70px;
  }
}

.top__container i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: #bf9f5e;
}

.top__container a {
  color: #b1bec0;
}

.top__container a:hover {
  color: #bf9f5e;
}

.top__container span {
  display: block;
}

@media (max-width: 992px) {
  .top__container {
    margin: 20px auto;
  }
  .top__container:first-child {
    min-width: 85%;
  }
  .top__container .paragraph {
    text-align: center;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
  text-align: center;
}

@media (max-width: 992px) {
  .copyright {
    padding: 20px;
  }
  .copyright * {
    margin: 5px 10px;
  }
}

@media (max-width: 767px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */