* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
}

body {
    min-height: 200vh;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s;

    &:hover {
        color: $accent-c;
    }
}

li {
    list-style: none;
}
