.welcome-subheading {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $secondary-font;

    &:first-child {
        font-size: 1.2rem;
    }

    @include breakpoint("xs") {
        font-size: 1.5rem;
    }
}

.welcome-heading {
    font-size: 5rem;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint("md") {
        letter-spacing: 2px;
        font-size: 4rem;
    }

    @include breakpoint("sm") {
        font-size: 3rem;
    }
}

.section-heading {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 500px;
    text-align: center;
    line-height: 21px;
    letter-spacing: 4px;
    font-size: 2rem;
    font-weight: 700;
    font-family: "Playfair Display";
    text-transform: uppercase;
    color: #202628;

    & span {
        display: block;
        margin-top: 36px;
        height: 1px;
        background-color: #d5d5d5;

        &::before {
            content: "";
            display: block;
            margin: 0 auto;
            height: 1px;
            width: 100px;
            background-color: #c19865;
        }
    }
}

.small-heading {
    margin-bottom: 20px;
    font-size: 1.5rem;

    @include breakpoint("xl") {
        text-align: center;
    }
}

.big-heading {
    margin-bottom: 20px;
    font-size: 1.8rem;
    letter-spacing: 1px;

    @include breakpoint("md") {
        text-align: center;
    }
}

.paragraph {
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;

    &--source {
        font-size: 0.8rem;
    }

    @include breakpoint("sm") {
        text-align: center;
    }
}

.why-us-heading {
    margin-bottom: 20px;
    font-family: $secondary-font, serif;
    font-size: 2rem;
    text-align: left;
    color: $accent-c;

    @include breakpoint("xl") {
        text-align: center;
    }
}
