// colors
$accent-c: #bf9f5e;
$sectionHeading-c: #202628;
$darkBgc-c: #323333;
$font-light-c: #b1bec0;
$font-dark-c: #67767b;

// fonts
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Playfair Display", serif;
