#about {
    margin-bottom: 100px;
    overflow: hidden;

    & img {
        box-shadow: -10px -10px 0px 0px #ffffff, -10px -10px 0px 1px $accent-c;
    }
}

.about-container {
    display: flex;
    align-items: center;
    margin: 20px auto 0 auto;
}

.about__info {
    margin-left: 60px;
    text-align: justify;

    .paragraph {
        margin-bottom: 10px;
    }

    @include breakpoint("md") {
        margin: 0 auto;
    }
}
