#contact {
    margin-bottom: 100px;
}

.form__container {
    display: flex;
    justify-content: space-between;

    @include breakpoint("sm") {
        flex-direction: column;
        text-align: center;
    }
}

.input-container {
    flex-basis: 32%;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $accent-c;

    &:focus {
        outline: 1px solid $accent-c;
    }

    &::placeholder {
        color: $accent-c;
    }

    @include breakpoint("sm") {
        text-align: center;
    }
}

.text-message {
    min-height: 200px;
    vertical-align: bottom;
}

.form__textarea {
    @include breakpoint("sm") {
        text-align: center;
    }
}

.submit-button {
    @include button;
    width: 100%;
    margin-top: 30px;
    padding: 15px;
}

.error-message {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: $accent-c;
}

.form__response {
    display: none;
    margin: 20px 0;
    text-align: center;
}

.error-active,
.response-active {
    display: block;
}

.input-error {
    border: 1px solid $accent-c;
}
