#contact {
    margin-bottom: 100px;
}

.form__container {
    display: flex;
    justify-content: space-between;

    @include breakpoint("sm") {
        flex-direction: column;
        text-align: center;
    }
}

.input-container {
    flex-basis: 32%;
}

.text-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #e6ebec;

    &:focus {
        outline: 1px solid $accent;
    }

    &::placeholder {
        color: $accent;
    }

    @include breakpoint("sm") {
        text-align: center;
    }
}

.text-message {
    min-height: 200px;
    vertical-align: bottom;
}

.form__textarea {
    @include breakpoint("sm") {
        text-align: center;
    }
}

.sumit-button {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e6ebec;
    color: $accent;
    cursor: pointer;

    &:hover {
        background-color: $accent;
        color: white;
    }

    transition: 0.3s;
}

.error-message {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: $accent;
}

.form__response {
    display: none;
    margin: 20px 0;
    text-align: center;
}

.error-active,
.response-active {
    display: block;
}

.input-error {
    border: 1px solid $accent;
}
