#contact {
    margin-bottom: 100px;
}

.textarea {
    margin: 10px auto;
    width: 100%;
    min-height: 200px;
    border: 1px solid #e6ebec;

    &:focus {
        outline: 1px solid $accent;
    }
}

.submit {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e6ebec;
    cursor: pointer;

    &:hover {
        background-color: $accent;
        color: white;
    }
}

.input-container {
    display: flex;
    justify-content: space-between;

    & .contact__input {
        flex-basis: 32%;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #e6ebec;

        &:focus {
            outline: 1px solid $accent;
        }
    }

    @include breakpoint("sm") {
        flex-direction: column;
    }
}
