footer {
    background-color: $darkBgc-c;
    color: $font-light-c;
}

.footer__top {
    display: flex;
    align-items: center;
    min-height: 400px;
    border-bottom: 1px solid #4e4e4e;
}

.top__contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint("xs") {
        flex-direction: column;
    }
}

.top__container {
    display: flex;
    flex-direction: column;
    min-width: 200px;

    * {
        margin: 5px 0;
    }

    &:first-child {
        max-width: 550px;
        justify-content: center;
    }

    img {
        align-self: center;
        height: 100px;

        @include breakpoint("sm") {
            height: 70px;
        }
    }

    i {
        display: inline-flex;
        align-items: center;
        margin-right: 10px;
        color: $accent-c;
    }

    a {
        color: $font-light-c;

        &:hover {
            color: $accent-c;
        }
    }
    span {
        display: block;
    }

    @include breakpoint("md") {
        margin: 20px auto;

        &:first-child {
            min-width: 85%;
        }

        .paragraph {
            text-align: center;
        }
    }
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
    text-align: center;

    @include breakpoint("md") {
        padding: 20px;

        * {
            margin: 5px 10px;
        }
    }

    @include breakpoint("sm") {
        flex-direction: column;
    }
}
