header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../img/desktop/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    @include breakpoint("lg") {
        background-image: url("../img/mobile/header-m.jpg");
    }

    @include breakpointLandscape("md") {
        height: 150vh;
    }
    @include breakpointLandscape("sm") {
        height: 200vh;
    }
}

.welcome {
    margin: auto;
    color: white;

    @include breakpoint("md") {
        width: 100%;
        text-align: center;
    }
}

.request-button {
    @include button;
    margin-top: 30px;
    padding: 15px 20px;
}
