header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    max-height: 850px;
    background-image: url("./../../img/desktop/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    @include breakpoint("lg") {
        background-image: url("./../../img/mobile/header-m.jpg");
    }

    @include breakpointLandscape("md") {
        height: 150vh;
    }
    @include breakpointLandscape("sm") {
        height: 200vh;
    }
}

.welcome {
    margin: auto;
    color: white;

    @include breakpoint("md") {
        width: 100%;
        text-align: center;
    }
}

.welcome-subheading {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $secondary-font;

    @include breakpoint("xs") {
        font-size: 1.5rem;
    }
}

.welcome-heading {
    font-size: 5rem;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;

    @include breakpoint("md") {
        letter-spacing: 2px;
        font-size: 4rem;
    }

    @include breakpoint("sm") {
        font-size: 3rem;
    }
}

.request-button {
    @include button;
    margin-top: 30px;
    padding: 15px 20px;

    @include breakpoint("xs") {
        padding: 15px;
    }
}
