.info {
    display: flex;
    color: white;
    transform: translateY(-50%);

    @include breakpointLandscape("md") {
        margin-bottom: 70px;
        padding: 0;
        transform: translateY(0);
    }

    @include breakpoint("md") {
        padding: 0;
    }

    @include breakpoint("sm") {
        flex-direction: column;
        margin-bottom: 70px;
        padding: 0;
        transform: translateY(0);
    }
}

.info__container {
    flex-basis: 33.33%;
    min-height: 230px;
    padding: 35px;
    text-align: center;
    background-color: #c1a787;

    & i {
        font-size: 50px;
    }

    &:nth-child(2) {
        background-color: #c09c6f;
    }
    &:nth-child(3) {
        background-color: #c2935a;
    }

    @include breakpoint("lg") {
        padding: 25px 10px;
    }
}

.info-heading {
    font-size: 22px;
    margin: 25px 0 15px 0;

    @include breakpoint("md") {
        font-size: 1.3rem;
    }
}
