.motto {
    margin: 100px 0;
    padding: 70px 0;
    background-color: #f4f0e5;
    line-height: 3rem;
    text-align: center;
    font-size: 1.3rem;
    color: #000;

    & .sentence {
        position: relative;
        font-family: $secondary-font;

        &::before {
            content: open-quote;
            position: absolute;
            left: 2%;
            top: 4%;
            font-size: 7rem;
            color: #dfd6bc;
        }
        &::after {
            content: close-quote;
            position: absolute;
            right: 2%;
            font-size: 7rem;
            color: #dfd6bc;
        }
    }

    & h3 {
        text-align: right;
        line-height: 3.5rem;
    }
}
