nav {
    color: white;
}

.contact-nav {
    background-color: rgba(14, 17, 17, 0.5);
}

.contact-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
}

.container__left {
    display: flex;

    & .left__contact {
        display: flex;
        margin-right: 45px;

        & i {
            margin-right: 10px;
        }
    }

    @include breakpoint("sm") {
        flex-direction: column;
        margin: 10px 0;
    }
}

.socials {
    & a {
        margin-left: 20px;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    img {
        height: 45px;
    }
}

.navigation {
    & ul {
        display: flex;

        & li a {
            margin-left: 50px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: "Playfair Display";

            &:hover {
                padding-bottom: 22px;
                border-bottom: 4px solid $accent;
                color: $accent;
            }
        }
    }

    @include breakpoint("sm") {
        display: none;
    }
}

.sticky {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    position: fixed;
    background-color: $dark-bgc;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    top: 0;
    transition: 0.1s;

    & .navigation a {
        &:first-child,
        &:hover {
            padding-bottom: 2px;
            border-bottom: 1px solid $accent;
            color: $accent;
        }
    }
}
