nav {
    color: white;
}

.contact-nav {
    background-color: rgba(14, 17, 17, 0.5);
}

.contact-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
}

.container__left {
    display: flex;
    margin: 10px 0;

    @include breakpoint("sm") {
        flex-direction: column;
    }
}

.left__contact {
    display: flex;
    margin-right: 45px;

    & i {
        display: flex;
        align-items: center;
        margin-right: 10px;
        color: $accent-c;
    }

    @include breakpoint("sm") {
        margin: 5px 0;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    img {
        height: 45px;
    }
}

.navigation {
    & ul {
        display: flex;

        & li a {
            margin-left: 50px;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $secondary-font;

            &:hover {
                padding-bottom: 22px;
                border-bottom: 4px solid $accent-c;
                color: $accent-c;
                cursor: pointer;
            }
        }
    }

    @include breakpoint("sm") {
        display: none;
    }
}

.sticky {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    position: fixed;
    background-color: $darkBgc-c;
    width: 100%;
    padding: 10px 0;
    color: white;
    margin: 0;
    top: 0;
    transition: 0.1s;

    & .navigation a {
        &:hover {
            padding-bottom: 6px;
            border-bottom: 2px solid $accent-c;
            color: $accent-c;
        }
    }
}
