nav {
    width: 100%;
    color: white;
}

.contact-nav {
    background-color: rgba(14, 17, 17, 0.5);
}

.contact-nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
}

.container__left {
    display: flex;

    & .left__contact {
        display: flex;
        margin-right: 45px;

        & i {
            margin-right: 10px;
        }
    }
}

.container__right {
    & a {
        margin-left: 20px;
    }
}

.main-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    img {
        height: 45px;
    }
}

.navigation {
    & a {
        margin-left: 50px;
        text-transform: uppercase;
        text-decoration: none;

        &:first-child,
        &:hover {
            padding-bottom: 22px;
            border-bottom: 4px solid #c19865;
            color: #c19865;
        }
    }
}
