.specializations__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;

    @include breakpoint("sm") {
        flex-direction: column;
    }
}

.specialization {
    display: flex;
    flex-direction: column;
    flex-basis: 31%;
    margin-bottom: 10px;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;

    li {
        text-indent: -10px;
    }

    &:hover {
        background-color: $accent-c;
        color: white;

        i {
            transition: 0.5s;
            color: white;
        }
    }

    @include breakpoint("md") {
        flex-basis: 50%;
    }

    @include breakpoint("sm") {
        flex-basis: 100%;
        text-align: center;
    }
}

.specialization__heading {
    text-align: center;

    i {
        @include big-icon;
        margin: 0;
        border: none;

        @include breakpoint("xl") {
            margin: 0;
        }
    }

    .small-heading {
        margin-bottom: 10px;
        min-height: 60px;

        @include breakpoint("sm") {
            min-height: 0;
        }
    }
}
