#specializations {
    margin-bottom: 80px;
}

.specializations__container {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint("sm") {
        flex-direction: column;
    }
}

.specialization__container {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 20px auto;

    @include breakpoint("lg") {
        width: 45%;
    }

    @include breakpoint("sm") {
        width: 100%;
        text-align: center;
    }
}

.container__heading {
    display: flex;
    align-items: center;
    margin: 10px 0;

    & i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        font-size: 3rem;
        color: $accent-c;
    }

    & p {
        @include breakpoint("xs") {
            max-width: 210px;
        }
    }

    @include breakpoint("sm") {
        margin: 10px auto;
    }
}
