#specializations {
}

.specializations__container {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint("md") {
        flex-direction: column;
    }
}

.specialization__container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 10px auto;

    @include breakpoint("md") {
        flex-direction: column;

        align-items: center;
        justify-content: center;
    }
}

.container__heading {
    display: flex;
    align-items: center;

    & i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        min-width: 50px;
        min-height: 50px;
        width: 50px;
        height: 50px;
        font-size: 3rem;
        color: $accent;
    }

    & h4 {
        width: 100%;
    }
}
