#why-us {
    display: flex;
    text-align: justify;

    @include breakpoint("xl") {
        flex-direction: column;
    }
}

.why-us__left {
    flex-basis: 60%;
    padding: 20px 20px 20px 29%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/desktop/chess.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    .left__container {
        margin-bottom: 25px;
    }

    @include breakpoint("xl") {
        background-attachment: fixed;
        padding: 2% 2% 2% 49%;
    }

    @include breakpoint("sm") {
        padding: 20px;
        background-position: right;
        text-align: center;
    }
}

.why-us__right {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 40%;
    background-color: #fff8e7;

    @include breakpoint("xl") {
        padding-bottom: 0;
    }
}

.advantages__container {
    display: flex;
    flex-direction: column;

    @include breakpoint("xl") {
        justify-content: space-between;
        flex-direction: row;
    }

    @include breakpoint("md") {
        flex-wrap: wrap;
    }
}

.advantage {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    i {
        @include big-icon;
    }

    @include breakpoint("xl") {
        flex-direction: column;
        flex-basis: 31%;
        margin-bottom: 20px;
    }

    @include breakpoint("md") {
        flex-basis: 45%;

        &:last-child {
            margin: auto;
        }
    }

    @include breakpoint("sm") {
        flex-basis: 100%;
    }
}
