#why-us {
    display: flex;

    @include breakpoint("xl") {
        flex-direction: column;
    }
}

.why-us__left {
    flex-basis: 60%;
    padding: 2% 2% 2% 29%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/desktop/chess.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    .left__container {
        margin-bottom: 25px;
    }

    @include breakpoint("xl") {
        background-attachment: fixed;
        padding: 2% 2% 2% 49%;
    }
    @include breakpoint("sm") {
        padding: 20px;
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0.3)
            ),
            url("../img/mobile/chess-m.jpg");
        text-align: center;
    }
}

.why-us__right {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex-basis: 40%;
    background-color: #fbf9f5;
}

.why-us__advantages {
    display: flex;
    flex-direction: column;
}

.advantages {
    display: flex;
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
    flex-basis: 25%;

    & i {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        min-width: 70px;
        min-height: 70px;
        width: 70px;
        height: 70px;
        border: 2px solid $accent-c;
        border-radius: 50%;
        font-size: 3rem;
        color: $accent-c;
    }
}
